.DS_Store
.dart_tool/

.packages
.pub/
.idea/

/example/android/app/src/main/res/values/developer-config.xml
/example/android/app/src/main/res/values/mapbox_access_token.xml
/example/android/gradle.properties

build/
